.about {
    text-align: center;
    color: $darkColor;
    font-family: $lato;
    background: rgb(221, 218, 218);
    .about-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px 0 20px 0;

        .about-title {
            text-transform: uppercase;
        }

        .about-text {
            max-width: 600px;
            width: 100%;
            margin: auto;
            line-height: 2;
        }
        .short-line {
            background: #000;
        }
    }
}

@media (min-width: 1000px) {
    .about {
        text-align: center;
        color: $darkColor;
        font-family: $lato;
        .about-wrap {
            text-align: center;
            padding: 115px 0 120px 0;
    
            .about-text {
                max-width: 600px;
                width: 100%;
                margin: auto;
                line-height: 2;
            }
            .title {
                &::before {
                    background: #000;
                    right: 47%;
                }
            }
        }
    }
}