@import "wariable";
@import "header";
@import "about";
@import "works";
@import "skills";
@import "get";

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  .title {
    position: relative;
    text-transform: uppercase;
    font-family: $raleway;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 100px;
    &::before {
      content: "";
      position: absolute;
      bottom: -50px;
      right: 43%;
      width: 86px;
      height: 2px;
      background: $whiteColor;
    }
  }
  .short-line {
    width: 86px;
    height: 2px;
    background: $whiteColor;
  }
}
html {
  scroll-behavior: smooth;
}
